.trailer-videos-container{
    padding:10px 30px;
    padding-top: 20px;
}
.videos{
    overflow-x: scroll;
}
.videos::-webkit-scrollbar{
    display: none;
}
.trailer-videos .section-title{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 12px;
    text-transform: capitalize;
}
.trailer-videos .videos{
    display: flex;
    gap: 10px;
}
@media screen and (max-width:480px) {
    .trailer-videos-container{
        padding:10px;
    }
}